<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996100752806-8b8ulnkli19fna1rvd18hktt206h5h7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996100752806-8b8ulnkli19fna1rvd18hktt206h5h7k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996100752806-88rp4jvf00lqj6a3m0h432mrsctv645p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJHSRQjnmY2KtoTyV1cf7HWL1aPz58vB0</string>
	<key>GCM_SENDER_ID</key>
	<string>996100752806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kolektt.app</string>
	<key>PROJECT_ID</key>
	<string>kolektt</string>
	<key>STORAGE_BUCKET</key>
	<string>kolektt.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996100752806:ios:2e9f4834caae22cffafb67</string>
</dict>
</plist>